@import url(fonts.css);
@import url(reset.css);
body {
   font-family: "Inter", sans-serif;
   font-size: 18px;
   color: #7d7d7d;
}
header{
   margin-bottom: 60px;
}
.menu{
   font-family: "Poppins", sans-serif;
   font-size: 36px;
   color: #40ddb6;
   text-transform: capitalize;
   text-align: center;
   padding: 24px;
   background: #7d7d7d;
   max-width: 600px;
   margin-left: 30px;
}
.menu-point{
   margin-bottom: 12px;
}
.block1,
.block2 {
   max-width: 692px;
}
.block1 img {
   max-width: 100%;
   height: auto;
   margin-bottom: 37px;
}
.title {
   font-family: "Poppins", sans-serif;
   font-weight: 600;
   font-size: 30px;
   line-height: 1.27;
   color: #37393f;
   margin-bottom: 3px;
}
.text p {
   line-height: 1.46;
}
.text {
   margin-bottom: 42px;
}

.subtitle {
   font-family: "Poppins", sans-serif;
   font-weight: 600;
   font-size: 20px;
   line-height: 1.27;
   color: #6b77e5;
   margin-bottom: 12px;
}
.block2 {
   font-size: 0;
}
.benefit {
   display: inline-block;
   font-size: 18px;
   max-width: 332px;
   margin-left: 29px;
}
.next-subtitle {
   font-family: "Poppins", sans-serif;
   font-weight: 600;
   font-size: 25px;
   line-height: 1.27;
   color: #37393f;
   margin-bottom: 15px;
}
.next-subtitle + p {
   font-family: "Poppins", sans-serif;
   font-size: 20px;
   font-weight: 600;
   color: #40ddb6;
   line-height: 1.27;
   margin-bottom: 21px;
}
.item{
   margin-bottom: 30px;
   line-height: 1.5;
}
.block3{
   max-width: 1169px;
   font-size: 0;
}
.description{
   display: inline-block;
   max-width: 563px;
   font-size: 20px;
   line-height: 1.8;
   margin-right: 38px;
   vertical-align: top;
}
.picture{
   display: inline-block;
}
.img-1{
   margin-right: 22px;
}
.desc-subtitle {
   font-size: 28px;
   color: #D06B00;
   text-transform: uppercase;
}
.desc-title {
   font-family: "DM Serif Text", serif;
   font-size: 59px;
   line-height: 1.46;
   color: #0E333D;
   margin-bottom: 25px;
}
